.storyRoot {
  display: flex;
}
@media screen and (max-width: 425px) and (min-width: 300px) {
  .mobile__none {
    display: none;
  }
  .storyRoot {
    margin: 0px 8px;
  }

  .border__story {
    height: 5px;
    width: 100%;
    background-color: rgb(206, 204, 204);
    margin: 7px 0px;
  }
}
